*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1rem;
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header{
    width: 100%;
    align-content: center;
    padding: 10px;
    box-sizing: border-box;
    background: #EB5757;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header h1
{
    text-align: center;
    color: #fff;
    font-size: 5rem;

}

header p{
    color: #fff;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
}

section{
    width: auto;
    margin: 15px;
    padding: 15px;
    border-style: solid;
    border-color: #fff;
    box-sizing: border-box;
    border-radius: 15px ;
    margin-top: 25px;
    margin-bottom: 25px;
}

section:hover{
  
    border-style: dotted;
    border-color: #2c3e50;
   
}

section h2{
    color: azure;
    margin: 10px;
    font-size: 3rem;
    padding: 5px;
    text-align: center;
    width: 100%;
}

section form{
   margin-top: 10px;
   padding: 5px;
   box-sizing: border-box;
}

section form div{
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

section form div label
{
    align-content: flex-start;
    padding: 5px;
    color: #fff;
    font-size: 1.5rem;
}
section form div input
{
    align-content: flex-end;
    width: 10%;
    border-radius: 5px;
    border-style: none;
    padding:5px;
    background-color: #6dd5ed ;
    color: #2c3e50;
}

section form div button
{
    padding:15px;
    background-color:#6dd5ed;
    color: #2c3e50;
    margin-top: 15px;
    box-sizing: border-box;
    border-style: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 3px;
    width: 25%;
    font-size: 1rem;
}

section form div button:focus{
    background-color:#2c3e50;
    color:#6dd5ed;
}

section form div button:hover{
    background-color:#2c3e50;
    color:#6dd5ed;
}

.perimetro-area
{
    width: 45%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 2%;
    border-style: dotted;
    height: 475px;
    border-radius: 15px;
    border-color:#2c3e50 ;
}


.perimetro-area:hover
{
   
    border-style: solid;
    border-color:#fff ;
   
}

.perimetro-area:hover h3 
{
   
  color: #000;
   
}


.perimetro-area  h3{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 15px;
}

.perimetro-area .label-input{
    width: 100%
}
.perimetro-area .label-input label{
    width: 100%;
    align-items: flex-start;
    margin-left: 5px;
    display: block;;
}
.perimetro-area .label-input input{
    width: 50%;
    align-items: flex-end;
}

.botones-triangulo
{
    clear: both;
}